#welcome{
    /*TEMPORARIO*/color:white;
}
#textwelcome{
    color:white;
    float:left;
    width: 45%;
    text-align: center;
    margin:0 auto;
    padding:20% 0 0;
}
#imagemwelcome{
    float:right;
}

#titulowelcome{
    color:white;
    font-size: 70px;
}


#subtitulowelcome{
    color:white;
    font-size: 18px;
}
#titulodiferencial{
    color:darkgreen;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 2%;
}

.slidetitle, .slidesub{
    color: white;
}

.slidetitle{
    font-size: 55px;
}

h5{
    font-weight: bold;
}

#teste{
    width: 100%;
    margin:0 auto;
}
#box{
    margin: auto;
}

#imagemdiferencial{
    float:right;
    opacity: 0.87;
}

#diferenciais{
    width:100%;
}

#cursos{
    margin-top: 5%;
    margin-bottom: 5%;
}
.card2{
    margin: 0 auto;
    color:rgba(24, 64, 21, 1);
    font-family:Arial, 'Elsie', cursive, sans-serif;
    padding-left: -20px;
    padding-right: -20px;
}

.card1{
    width: 85%;
    margin:0 auto;
    box-shadow: black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}


body{
    overflow-x: hidden;
    font-family:Arial, 'Elsie', cursive, sans-serif;
    background-image:
            linear-gradient(
                    rgba(199, 200, 60, 0.1), rgba(14, 40, 76, 0.2)), url(../img/contagem.jpg);
}


form{
    width: 40%;
    float: right;
    border: 20px;
    border-color: black;
}

* {margin:0; padding: 0;}
html, body {height:100%; width: 100%}

/** formata elementos que tem backgrounds parallax **/
.bgParallax {
    font-family: 'Elsie', cursive;
    color:#FFF;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    /*text-shadow:0 0 10px rgba(0,0,0,0.7);*/
    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}

#lead, #diferenciais{
    margin:0 auto;
    background-color:white;
    color:darkgreen;
}

#lead{
    padding-bottom: 4%;

}

#diferenciais{
    font-family:Arial, 'Elsie', cursive, sans-serif;
    padding-bottom:3%;
    padding:10% 0 0;

}

.card-img-top{
height:250px;
    opacity: 1;
}

#carousel{
    margin-top: -10%;
}

.imgdif{
    height: 400px;
}

.container-fluid {
    padding-left: auto;
    padding-right: auto;
}

#limiter{
    float:right;
    width: 100%;
}

#btnform{
    margin-top: 10%;
}

#titulocursos{
    color: white;
}